body {
  background-image: url("Images/Pasta .jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 20;
}

h3{
  text-align: center;
}

h2 {
  text-align: center;
  font-style: normal;
  font-family: chalkduster, fantasy;
  font-size: 40px;
  color: white;
  height: 200px;
  width: 400px;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

.heading3 {
  text-align: center;
  color: white;
  height: 200px;
  width: 400px;
  font-style: normal;
  font-family: chalkduster, fantasy;
  font-size: 25px;


  position: fixed;
  top: 60%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

form {
  text-align: center;
  height: 200px;
  width: 400px;

  position:absolute;
  top:10;
  right:15;

  position: fixed;
  top: 70%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

.....{
text-align: center;
color: white;
font-style: normal;
font-family: chalkduster, fantasy;
font-size: 25px;
}

.heading{
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 170px;
width: 100%;
text-align: center;
}

.parallax1 {
  background-image: url("Images/Pasta .jpg");

  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url("Images/7pasta-shapes.jpg");
  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pastapic{
  text-align: center;
}

.columntext
{
  padding: 1rem;
}

#text{
  height: auto;
  background-color:GoldenRod;
  font-size:15px;
}

.img-responsive{
max-width: 200px;
margin: 1rem;
border-radius: 100px;

}

a {
  color: GoldenRod;
}

a:link {
  color: GoldenRod;
}

a:visited {
  color: GoldenRod;
}

a:hover {
  color: #993300;
}

a:active{
font-weight: bold;
}
